<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="icon" href="img/logo.png">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-5525981778357070"
    crossorigin="anonymous"></script>
    <title><%=title %></title>
</head>
<body>
    <h1>this is user profile</h1>
</body>
<div class="footer" style="height: 2vh;">
    <p>Copyright &copy; nerdwhocodes.com </p>

</div>
<footer>
    
</footer>
</html>